In [1]:
import os
import pandas as pd

In [2]:
csv_path = '/Users/sheiljagandhi/DataVizBootcamp/GitHub/python-challenge/PyPoll/PyPoll/raw_data/election_data_1.csv'

In [3]:
data = csv_path
df = pd.read_csv(data, encoding='utf-8')
df.head()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [4]:
Total_Voters = df['Voter ID'].count()
Total_Voters

803000

In [5]:
df['Candidate'].value_counts()

Vestal    385440
Torres    353320
Seth       40150
Cordin     24090
Name: Candidate, dtype: int64

In [6]:
Voter_Percentage = df['Candidate'].value_counts()/Total_Voters*100
Voter_Percentage

Vestal    48.0
Torres    44.0
Seth       5.0
Cordin     3.0
Name: Candidate, dtype: float64

In [15]:
print('Election Resulrs')
print('----------------------------------------')
print('Total Votes:' + str(Total_Voters))
print('----------------------------------------')
print(str(Voter_Percentage))
print('----------------------------------------')
print('Winner: Vestal' )

Election Resulrs
----------------------------------------
Total Votes:803000
----------------------------------------
Vestal    48.0
Torres    44.0
Seth       5.0
Cordin     3.0
Name: Candidate, dtype: float64
----------------------------------------
Winner: Vestal